/* Main font */

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* Navigation menu */

nav {
    position:absolute;
    background-color: #de8e8a;
    width: 100%;
    right: 0;
    padding: 0 1rem;
    display:none;
    top: 100%;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 4px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

  /* Footer */

footer {
    position: absolute;
    bottom: 0;
    padding: 5px 0 20px 0;
    width: 100%;
    background-color: #de8e8a;
    text-align: center;
    text-transform: uppercase;
}

.socialmedia {
    color: #401c04;
    padding: 0 10px;
}

/* Media query: large or landscape phones (576px and up) */

@media screen and (min-width: 576px) { 

}


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
    
            /* Header */
            nav {
                display: block;
                position: relative;
                box-shadow: none;
                width: fit-content;
                padding-right: 1rem;
            }
    
            #menu {
                display: flex;
            }
    
            #menu>li {
                padding-left: 1rem;
            }
    
    
        }

/* Large devices (laptops and desktops, 992px and up) */

@media screen and (min-width:992px) {

}

/* X-Large devices (1200px and up)*/
@media screen and (min-width: 1200px) {

    
}