/* Background colour for body of page and font style*/

body {
    background-color: #ffffff;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #401c04;
    margin: 0;
}

/* internal link colors */
#postures-link, #roots a, #journey a {
    color: #401c04;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.3s;
}


/* Header all pages */
header {
    position: fixed;
    padding: 10px 20px;
    z-index: 99;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: #de8e8a;
    top: 0;
}

header h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
  
}

header a {
    color: inherit;
    text-decoration: none;
}

/* Navigation menu ALL PAGES */
nav {
    position: fixed;
    font-size: 130%;
    top: 10%;
    right: 0;
    padding: 0 25px;
}

#menu {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#de8e8a;
}

#menu > li {
    display: inline-flex;
}

#menu > a {
    display: block;
    color: #401c04;
    text-align: center;
    padding: 14px 16px;
}

.active {
    border-bottom: 1px solid #401c04;
}


/* So Hum Website meaning styling */

#definition {
    position: fixed;
    text-transform: lowercase;
    margin-top: 70px;
    padding: 5px 10px;
    /*display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;*/
}

/* Home Page */

/* PARALLAX*/

.welcome-photo-parallax {
    /*main image*/
    background: url(../images/Main_background_image.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 800px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roots-parallax {
    /*main image*/
    background: url(../images/lotus-flower.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 800px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.benefits-parallax {
    /*main image*/
    background: url(../images/Main_monk_hands.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 800px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
}

.journey-parallax, .sign-up-parallax  {
    /*main image*/
    background: url(../images/path.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 800px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HOME PAGE Content */

#quote-home {
    text-align: center;
    padding: 140px 0;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
}

#quote-home > h4 {
    font-size: 130%;
}

#quote-home > p {
    font-size: 110%;
    text-wrap: wrap;
}

#benefits-text, #roots-text, #journey-text {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 50px 0;
    top: 50%;
    bottom:50%;
    text-align: center;
}

#benefits-text > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    line-height: 30px;
}

#roots > p, #journey-text > p {
    line-height: 25px;
}

#benefits h3, #roots h3, #journey-text h3 {
    font-size: 200%;
    text-align: center;
}

/* POSTURES */

.postures-intro-parallax {
    /*main image*/
    background: url(../images/buddha.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 800px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.postures {
    flex: 1 0 auto;
    display: flex;
}

.postures-a {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    text-wrap: wrap;
    text-align: center;
    align-items: center;
}

.postures-b {
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    text-wrap: wrap;
    text-align: center;
    align-items: center;
}

#postures-image {
    max-width: 50%;
}

#postures-a, #postures-b {
    max-width: 50%;
    padding: 0 25px;
}

#postures-a > h4, #postures-b > h4 {
    font-size: 200%;
}

#postures-a > h5, #postures-b > h5 {
    font-size: 120%;
}

/* TECHNIQUES PAGE */ 

main {
    flex: 1 0 auto;
}

.getting-started  {
    /*main image*/
    background: url(../images/getting-started.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 800px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#getting-started-text, #postures-introduction {
    text-align: center;
    padding: 20px 30px;
    margin-top: 120px;
    background-color: rgba(255, 255, 255, 0.7);
}

#getting-started-text > h4, #postures-introduction > h4 {
    font-size: 150%;
}

/* TECHNIQUES CONTENT */

.counting-parallax {
    /*main image*/
    background: url(../images/counting.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 500px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.focus-parallax {
    /*main image*/
    background: url(../images/Candle.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 500px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noting-parallax {
    /*main image*/
    background: url(../images/meditation-hands-sun.jpg) no-repeat center center/cover;

    /*specific height*/
    min-height: 500px;
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.techniques {
    flex: 1 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 15px;
}

#techniques-title {
    text-align: center;
    font-size: 200%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    text-decoration-line: underline;
}

#techniques-text {
    text-wrap: wrap;
    width: 25%;
    text-align: center;
    line-height: 30px;
}

#techniques-text > h5 {
    font-size: 150%;
    text-decoration: underline;
}

#techniques-text > h6 {
    font-size: 120%;
}

#techniques-text > ul {
    padding: 0 25px;
}

/*SIGN UP PAGE*/

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#sign-up {
    color: #401c04;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    margin-top: 120px;
}

#sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-input {
    background: #ffffff;
    color: #401c04;
    border: 1px solid #401c04;
    border-radius: 2px;
    width: 20%;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 0 15px;    
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.radio-buttons h6 {
    text-align: center;
    font-size: 150%;
}

.join-button {
    background-color: #401c04;
    color: #ffffff;
    border-radius: 25px;
    font-size: 110%;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
}

.join-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #401c04;
    transition-duration: 0.3s;
}

/* FOOTER ALL PAGES */

footer {
    background-color: #de8e8a;
    color: #401c04;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: inherit;
    top: 97%;
    bottom: 0;
}

#socialmedia {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    list-style-type: none;
}

#socialmedia i {
    font-size: 140%;
    color: #401c04;
    padding: 15%;

} 

/* Media query: large or landscape phones (320px and up) */

@media screen and (max-width: 320px) { 

    header {
        max-width: 100%;
        position: fixed;
    }

  /* Navigation menu */  

    nav {
        font-size: 90%;
        background-color: #de8e8a;
        position: absolute;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: right;
        padding: 15px 20px;
        line-height: 20px;
        top: 40px;
    }
 
    
    /* HOME PAGE Main content positioning */

    .welcome-photo-parallax {
        /*main image*/
        background: url(../images/Main_background_image.jpg) no-repeat center center/cover;

        /*specific height*/
        min-height: 800px;
        width: 100%;

        /* parallax scrolling effect */
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #quote-home > h4 {
        padding: 0 25px;
    }

    #quote-home > p, #roots-text > p, #journey-text > p, #benefits-text > ul {
        padding: 0 25px;
    }

    #benefits h3, #roots h3, #journey-text h3 {
        font-size: 110%;
        padding: 0 25px;
    }

    /* POSTURES */

    .postures {
        flex: 1 0 auto;
        display: flex;
    }

    .postures-a, .postures-b {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.8);
        text-wrap: wrap;
        text-align: center;
        align-items: center;
    }

    #postures-image {
        max-width: 100%;
    }

    #postures-a, #postures-b {
        max-width: 100%;
        padding: 0 25px;
    }

    #postures-a > h4, #postures-b > h4 {
        font-size: 150%;
    }

    #postures-a > h5, #postures-b > h5 {
        font-size: 100%;
    }

    /* TECHNIQUES CONTENT */

    #getting-started-text > h4, #postures-introduction > h4 {
        font-size: 120%;
    }

    .techniques {
        flex-direction: column;
        align-items: center;
    }

    #techniques-title {
        font-size: 150%;
    }

    #techniques-text {
        text-wrap: wrap;
        width: 100%;
        text-align: center;
        font-size: 95%;
        padding: 0 25px;
    }

    #techniques-text > h5 {
        font-size: 130%;
    }

    #techniques-text > h6 {
        font-size: 110%;
    }

    #techniques-text > ul {
        list-style-type: none;
    }

    /*SIGN UP PAGE*/

    #sign-up {
        text-align: center;
    }

    .text-input {
        width: 50%;  
    }

    .radio-buttons div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px 25px;
    }

}


/* Media query: tablets and larger (768px and up) */

@media screen and (max-width: 768px) {
    
    /* Navigation menu */
    
    nav {
        font-size: 90%;
        background-color: #de8e8a;
        position: absolute;
      }
    
    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: right;
        padding: 8px 20px;
        line-height: 25px;
        top: 35px;
    }
    /*HOME PAGE*/

    .welcome-photo-parallax {
        /*main image*/
        background: url(../images/Main_background_image.jpg) no-repeat center center/cover;

        /*specific height*/
        min-height: 800px;
        width: 100%;

        /* parallax scrolling effect */
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #quote-home > h4 {
        padding: 0 25px;
    }

    #quote-home > p, #roots-text > p, #journey-text > p, #benefits-text > ul {
        padding: 0 25px;
    }

    #benefits h3, #roots h3, #journey-text h3 {
        font-size: 110%;
        padding: 0 25px;
    }

     /* POSTURES */

    .postures {
        flex: 1 0 auto;
        display: flex;
    }

    .postures-a, .postures-b {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.8);
        text-wrap: wrap;
        text-align: center;
        align-items: center;
    }

    #postures-image {
        max-width: 100%;
    }

    #postures-a, #postures-b {
        max-width: 100%;
        padding: 0 25px;
    }

    #postures-a > h4, #postures-b > h4 {
        font-size: 150%;
    }

    #postures-a > h5, #postures-b > h5 {
        font-size: 100%;
    }

    /* TECHNIQUES CONTENT */

    #getting-started-text > h4, #postures-introduction > h4 {
        font-size: 120%;
    }

    .techniques {
        flex-direction: column;
        align-items: center;
    }

    #techniques-title {
        font-size: 150%;
    }

    #techniques-text {
        text-wrap: wrap;
        width: 100%;
        text-align: center;
        font-size: 95%;
        padding: 0 25px;
    }

    #techniques-text > h5 {
        font-size: 130%;
    }

    #techniques-text > h6 {
        font-size: 110%;
    }

    #techniques-text > ul {
        list-style-type: none;
    }
    
    /*SIGN UP PAGE*/

    #sign-up {
        text-align: center;
    }

    .text-input {
        width: 50%;  
    }

    .radio-buttons div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px 25px;
    }

    }


